<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/signup" method="POST">
            <label for="username" name="username">Enter your name</label>
            <input type="text" name="username" id="username" required="required">

            <label for="password" name="password">Enter a password</label>
            <input type="password" name="passsword" id="password" required="required">

            <label for="password_confirm" name="password_confirm">Confirm your password</label>
            <input type="password" name="password_confirm" id="password_confirm" required="required">
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>